<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="Prospect" version="3.0">
	<display-name>Prospect IRIS</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:META-INF/server/wink-core-context.xml
			classpath:META-INF/spring-beans.xml
			classpath:META-INF/resources/spring-security.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>request-context</filter-name>
		<filter-class>com.temenos.interaction.core.web.RequestContextFilter</filter-class>
	</filter>
    <filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
        <init-param>
            <param-name>allowedOrigins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>allowedMethods</param-name>
            <param-value>GET,POST,DELETE,PUT,HEAD</param-value>
        </init-param>
        <init-param>
            <param-name>allowedHeaders</param-name>
            <param-value>origin,content-type,accept,authorization,maxdataserviceversion</param-value>
        </init-param>
    </filter>
	<filter-mapping>
		<filter-name>request-context</filter-name>
		<servlet-name>IRIS</servlet-name>
	</filter-mapping>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<!-- Swagger -->
	<servlet>
		<servlet-name>SwaggerServlet</servlet-name>
		<servlet-class>com.temenos.useragent.example.swagger.servlet.SwaggerServlet</servlet-class>
		<init-param>
			<param-name>irisUrlMapping</param-name>
			<param-value>Prospect.svc/GB0010001</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SwaggerServlet</servlet-name>
		<url-pattern>/api-docs</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>IRIS</servlet-name>
		<servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
  		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>restSdkAdmin</servlet-name>
		<servlet-class>org.apache.wink.server.internal.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>restSdkAdmin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IRIS</servlet-name>
		<url-pattern>/Prospect.svc/*</url-pattern>
	</servlet-mapping>
	
	<!-- Temenos T24 Service Provider Specific Settings -->
	<resource-ref id="ResourceRef_OFSIRISt24Datasource">
        <description>Used to get connections from T24 jdbc pool
        </description>
        <res-ref-name>jdbc/t24DataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref id="ResourceRef_OFSIRISt24LockingDatasource">
        <description>Used to get connections from T24 jdbc pool
        </description>
        <res-ref-name>jdbc/t24LockingDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

	<!-- Make sure authenticator is first to be called -->
	<absolute-ordering>
        <name>T24Authenticator</name>
        <others/>
    </absolute-ordering>
 </web-app>
