<!-- Logback configuration -->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <!-- Log debug information for T24 commands -->
  <logger name="com.temenos.interaction.commands">
    <level value="DEBUG" />
  </logger>

  <!-- Log debug information about links -->
  <logger name="com.temenos.interaction.core.hypermedia">
    <level value="INFO" />
  </logger>

  <!-- Log debug information about resource interactions -->
  <logger name="com.temenos.interaction.core.rim">
    <level value="INFO" />
  </logger>

  <!-- Log DEBUG for CORS headers to see any headers or methods that are rejected -->
  <logger name="org.eclipse.jetty.servlets.CrossOriginFilter">
    <level value="DEBUG" />
  </logger>

  <!-- Log all resource endpoints -->
  <logger name="org.apache.wink.server.internal.log.Resources">
    <level value="INFO" />
  </logger>
  <!-- Log all requests -->
  <logger name="org.apache.wink.server.internal.log.Requests">
    <level value="WARN" />
  </logger>
  <!-- Log provider registration -->
  <logger name="org.apache.wink.common.internal.registry.ProvidersRegistry">
    <level value="DEBUG" />
  </logger>
  <logger name="org.apache.wink.common">
    <level value="WARN" />
    <appender-ref ref="STDOUT"/>
  </logger>

  <root> 
    <level value="WARN" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

